@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.estonia-regular {
  font-weight: 400;
  font-style: normal;
}

body {
  font-weight: 400;
  font-style: normal;
  background-color: #18191B;
  color: #ffff;
  line-height: 1.6;
  }

header .Barra.Promocional {
  background-color: #000000;
  color: #ffff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #4a4a4a;
  height: 50px;
}


.Barra.Promocional a {
    text-decoration: underline;
    color: #4704ff;
      
}

header .Espacio.Vacío {
    height: 50px;
    border-bottom: 1px solid #4a4a4a;
}

header .Logo {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    color: #ffff;
    width: 350;

}

.Logo svg {
    fill:white
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid #4a4a4a; 
}

.acciones-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 350;
}

.Navegación__enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid #4a4a4a; 
    flex-grow: 1;
}

.buscador {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;

    border: 1px solid gray;
    border-radius: 20px;
}

.menu-desplegable {
    position: relative;
}

.contenido-desplegable {
    position: absolute;

    top: 100%;
    left: 0;

    width: 740px;
    background-color: #1b1b1b;

    z-index: 10;
}

.columnas-desplegable {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
}

.menu {
  background-color: #000000;
  color: #ffff;
  padding: 20px;
  width: 220px;
  }

 .Contenido {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: flex-start;
 }

.filter {
    display: flex;
    align-items: center;
    gap: 8px;

    width: 220px;
    padding: 8px 12px;

    border: 1px solid gray;
    border-radius: 20px;
}

.filter input {
    border: none;
    outline: none;
    background: transparent;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 220px;
    padding: 8px 12px;

    border: none;
    border-radius: none;
    }

    a{
        text-decoration: none;
        color: #ffff;
    }

    .menu.izquierdo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #000000;
        padding: 20px;
        width: 500px;
    }  

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 20px;
        text-align: justify;
    }

    .menu.derecho {
       display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #000000;
        padding: 20px;
        width: 500px;
        
    }

    ul,
ol {
    list-style: none;
    padding-left: 0;
}

.titulo-derecho {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 10px;
    
}